/* This file will hold styles that are loaded using the same media query as the narrow grid. */

// Varaibles, mixins and other LESS files.
@import 'variables.less';
@import 'mixins.less';

//
body {
  header {
    #zone-branding {
      #region-branding {
        hgroup {
          .site-name {
            font-size: 23px;
            line-height: 100px;
          }

          .site-slogan {
            font-size: 10px;
            margin-top: -43px;
          }
        }
      }

      #region-menu {
        #main-menu {
          li {
            height: 100px;
            margin-right: 20px;
            position: relative;
            width: 40px;

            &.last {
              margin-right: 0;
            }

            a {
              #font > .rotation(270deg);

              height: 100%;
              position: absolute;
              top: 100px;
              width: 100px;
            }
          }
        }
      }
    }
  }

  #section-content {
    padding: 20px 0;

    #zone-content {
      overflow: hidden;

      #region-content {
        .tabs {
          ul.tabs {
            li {
              a {
                font-size: 6px;
                height: 15px;
                width: 95px;
              }
            }
          }
        }
      }

      aside {
        display: block;

        &#region-sidebar-first {
          height: 20px;

          .boxes-box-content {
            #font > .rotation(90deg);

            color: @color-grey-light;
            font-size: 53px;
            font-weight: bold;
            left: 54px;
            line-height: normal;
            position: absolute;
            text-transform: uppercase;
            top: -3px;
            white-space: pre;
          }
        }

        &#region-sidebar-second {
          .block {
            margin-bottom: 20px;

            h2 {
              #font > .sans-serif(bold; @font-size-default);

              text-transform: uppercase;
            }
          }

          #mini-panel-cf_about {
            h2 {
              color: @color-orange;
            }
          }

          // @TODO - Merge with Search page styles.
          #block-search-form {
            position: relative;

            label {
              display: none;
            }

            .form-text {
              #font > .sans-serif;

              border: 2px solid @color-grey-dark;
              height: 40px;
              padding-left: 10px;
              padding-right: 60px;
              width: 100%;

              &:focus {
                -webkit-box-shadow: none;
                outline: none;
              }
            }

            .form-submit {
              #font > .sans-serif(normal; 9px);
              #border-radius > .simple(0);

              position: absolute;
              right: 0;
              top: 0;


              background: none;
              background-color: @color-grey-dark;
              border: 0;
              color: @color-white;
              height: 40px;
              text-transform: uppercase;
              text-shadow: none;
              margin: 0;
              padding: 0;
              width: 40px;
            }

            &:hover {
              .form-text {
                border-color: @color-grey-light;
              }

              .form-submit {
                background-color: @color-grey-light;
              }
            }
          }

          #block-cf-core-download-module {
            .content {
              .item-list {
                ul {
                  margin: 0;

                  li {
                    margin: 0;
                    padding: 0;
                    text-align: center;

                    a {
                      background-color: @color-orange;
                      color: @color-white;
                      display: block;
                      float: left;
                      font-size: 10px;
                      height: 31px;
                      line-height: 12px;
                      margin-right: 20px;
                      padding-top: 4px;
                      text-decoration: none;
                      text-transform: uppercase;
                      width: 70px;

                      &:hover {
                        background-color: @color-grey-light;
                      }
                    }

                    strong {
                      display: block;
                      font-size: 18px;
                      text-transform: none;
                    }

                    &.last {
                      a {
                        background-color: @color-grey-light;
                        margin-right: 0;

                        &:hover {
                          background-color: @color-grey-dark;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          #block-boxes-cf-github {
            .boxes-box-content {
              a {
                #font > .shorthand(bold);

                background-color: @color-grey-dark;
                color: @color-white;
                display: block;
                font-size: 16px;
                padding: 10px;
                text-decoration: none;
                text-transform: uppercase;

                strong {
                  color: @color-orange;
                }

                &:hover {
                  background-color: @color-grey-light;
                }
              }
            }
          }
        }
      }
    }
  }
}
