/* This file will hold the main styles for your website. */

// Varaibles, mixins and other LESS files.
@import 'variables.less';
@import 'mixins.less';

//
@import 'global-typography.less';
@import 'global-forms.less';
@import 'global-pages.less';

//
@import 'content_type-formatter.less';

//
body {
  #font > .sans-serif;

  background-color: @color-grey-dark;

  header {
    background-color: @color-white;

    #zone-branding {
      #region-branding {
        hgroup {
          width: 100%;

          .site-name {
            #font > .sans-serif(bold, @font-size-default);

            margin: 0;

            a {
              color: @color-grey-dark;
              font-size: 0.93em;
              text-transform: uppercase;
              white-space: pre;

              span {
                &.site_name-element-1 {
                  color: @color-orange;
                  margin-left: -0.35em;
                }
              }
            }
          }

          .site-slogan {
            #font > .sans-serif;

            color: @color-grey-light;
            float: right;
            text-transform: uppercase;
            white-space: pre;
          }
        }
      }

      #region-menu {
        #main-menu {
          li {
            display: block;
            float: left;
            margin: 0;
            margin-right: 3.125%;
            overflow: hidden;
            padding: 0;
            width: 31.25%;

            &.last {
              margin-right: 0;
            }

            a {
              #font > .shorthand(bold, @font-size-small, 16px);

              background-color: @color-grey-dark;
              color: @color-white;
              display: block;
              height: 25px;
              padding-left: 5px;
              text-transform: uppercase;
              text-decoration: none;
              width: 100%;

              &:hover {
                background-color: @color-grey-light;
              }

              &.active {
                background-color: @color-orange;
                cursor: default;
              }
            }

            &.active {
              a {
                background-color: @color-orange;
                cursor: default;
              }
            }
          }
        }
      }
    }
  }

  #section-content {
    background-color: @color-white;
    padding: 10px 0;

    #zone-content {
      .messages {
        border-width: 2px;
        margin: 0 0 20px;
      }

      #region-content {
        .tabs {
          ul.tabs {
            border: 0;
            margin: 0;
            padding: 0;

            li {
              float: left;
              margin-left: 0;
              margin-right: 20px;
              padding: 0;

              a {
                background-color: @color-grey-dark;
                border: 0;
                color: @color-white;
                display: block;
                font-size: 6px;
                height: 15px;
                margin: 0;
                padding: 5px 0 0 5px;
                text-decoration: none;
                text-transform: uppercase;
                width: 95px;

                &:hover {
                  background-color: @color-grey-light;
                }

                &.active {
                  background-color: @color-orange;
                  cursor: default;
                }
              }
            }
          }

          .contextual-links {
            li {
              display: block;
            }
          }
        }

        .field-name-title {
          h2 {

          }
        }

        .view-mode-teaser {
          margin-bottom: 20px;
          position: relative;

          .group-left {
            .field-name-post-date {
              #font > .rotation(270deg);
              #font > .shorthand(bold);

              color: @color-grey-light;
              position: absolute;
              top: 70px;
              text-transform: uppercase;
            }
          }

          .group-right {
            #font > .shorthand(normal, 11px);

            width: 100%;

            .field {
              margin-left: 20px;

              .field-label {
                font-weight: normal;
              }
            }

            .field-name-cf-byauthor {
              margin-top: 3px;
            }

            .field-name-field-formatter-field-types {
              #font > .shorthand(normal, 9px);

              clear: left;
              margin-top: 3px;

              a {
                color: @color-orange;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            .field-name-body {
              margin-top: 10px;
            }

            .field-name-node-link {
              clear: left;

              a {
                #font > .shorthand(normal, @font-size-small);

                color: @color-orange;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .panel-2col {
          .panel-panel {
            clear: both;
            width: 100%;

            .inside {
              margin: 0;

              .pane-title {
                #font > .sans-serif(bold, 24px);

                background-color: @color-grey-light;
                color: @color-white;
                display: block;
                height: 23px;
                overflow: hidden;
                padding: 2px 0 0 5px;
                text-transform: uppercase;
              }

              .pane-content {
                .view-mode-teaser {
                  border-bottom: 1px dotted @color-grey-light;
                  height: 40px;
                  margin-bottom: 10px;
                  overflow: hidden;

                  .field-name-title {
                    float: left;
                    text-transform: uppercase;

                    a {
                      #font > .shorthand(bold, 14px);

                      color: @color-grey-dark;
                      margin-right: 0.35em;
                      text-decoration: none;

                      &:hover {
                        color: @color-orange;
                      }
                    }
                  }

                  .field-type-taxonomy-term-reference {
                    .field-item {
                      background-color: @color-grey-light;
                      color: @color-white;
                      display: inline;
                      font-size: 9px;
                      margin-right: 0.5em;
                      padding: 0 2px;
                      text-transform: uppercase;

                      &:hover {
                        background-color: @color-orange;
                      }
                    }

                    clear: left;
                  }
                }
              }
            }
          }
        }
      }

      aside {
        display: none;
      }
    }
  }
}

