/* This file will hold the main styles for your website. */

// Compass includes.
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transform";

// Varaibles, mixins and other SCSS files.
@import "includes/variables.scss";
@import "includes/mixins.scss";

//
@import "includes/global-typography.scss";
@import "includes/global-blocks.scss";
@import "includes/global-forms.scss";
@import "includes/global-pages.scss";

// Global Content Type styles.
@import "includes/content_type-blog.scss";
@import "includes/content_type-formatter.scss";

// Global layout styles.
body {
  @include font('sans-serif');

  background-color: $color-grey-dark;

  // Environment indicator styles.
  &.environment-indicator-left.environment-indicator-adjust {
    margin-left: 0;
  }

  #environment-indicator {
    display: none;
  }

  header {
    background-color: $color-white;

    #zone-branding {
      #region-branding {
        hgroup {
          width: 100%;

          .site-name {
            @include font('sans-serif', bold);

            margin: 0;

            a {
              color: $color-grey-dark;
              font-size: 0.93em;
              text-transform: uppercase;
              white-space: pre;

              span {
                &.site_name-element-1 {
                  color: $color-orange;
                  margin-left: -0.35em;
                }
              }
            }
          }

          .site-slogan {
            @include font('sans-serif');

            color: $color-grey-light;
            float: right;
            text-transform: uppercase;
            white-space: pre;
          }
        }
      }

      #region-menu {
        #main-menu {
          li {
            display: block;
            float: left;
            margin: 0;
            margin-right: 3.125%;
            overflow: hidden;
            padding: 0;
            width: 31.25%;

            &.last {
              margin-right: 0;
            }

            a {
              @include font(null, bold, $font-size-small, 16px);

              background-color: $color-grey-dark;
              color: $color-white;
              display: block;
              height: 25px;
              padding-left: 5px;
              text-transform: uppercase;
              text-decoration: none;
              width: 100%;

              &:hover {
                background-color: $color-grey-light;
              }

              &.active {
                background-color: $color-orange;
                cursor: default;
              }
            }

            &.active {
              a {
                background-color: $color-orange;
                cursor: default;
              }
            }
          }
        }
      }
    }
  }

  #section-content {
    background-color: $color-white;
    padding: 10px 0;

    #zone-content {
      .messages {
        border-width: 2px;
        margin: 0 0 20px;
      }

      #region-content {
        .tabs {
          ul.tabs {
            border: 0;
            margin: 0;
            padding: 0;

            li {
              float: left;
              margin-left: 0;
              margin-right: 20px;
              padding: 0;

              a {
                background-color: $color-grey-dark;
                border: 0;
                color: $color-white;
                display: block;
                font-size: 6px;
                height: 15px;
                margin: 0;
                padding: 5px 0 0 5px;
                text-decoration: none;
                text-transform: uppercase;
                width: 95px;

                &:hover {
                  background-color: $color-grey-light;
                }

                &.active {
                  background-color: $color-orange;
                  cursor: default;
                }
              }
            }
          }

          .contextual-links {
            li {
              display: block;
            }
          }
        }

        .pager {
          background: none;
          border: none;
          text-align: center;

          li {
            @include border-radius(0);

            border: none;
            float: inherit;
            margin: 0;
            padding: 0;

            a {
              @include border-radius(0);

              background: none;
              white-space: nowrap;
              width: auto;
            }

            &.pager-first {
              position: absolute;
              left: 0;
            }

            &.pager-previous {
              position: absolute;
              left: 50px;
            }

            &.pager-current {
              background: none;
              background-color: $color-grey-dark;
              padding: 4px 8px;
            }
          }
        }

        .panel-2col-stacked {
          .panel-panel {
            margin-bottom: 50px;

            .pane-title {
              @include font('sans-serif', bold, 24px);

              background-color: $color-grey-light;
              color: $color-white;
              display: block;
              height: 23px;
              overflow: hidden;
              padding: 2px 0 0 5px;
              text-transform: uppercase;
            }

            .pane-content {
              .more-link {
                a {
                  background-color: $color-grey-light;
                  color: $color-white;
                  display: block;
                  text-align: center;
                  width: 100%;

                  &:hover {
                    background-color: $color-orange;
                    text-decoration: none;
                  }
                }
              }
            }

            &:hover {
              .pane-title {
                background-color: $color-orange;
              }
            }
          }

          .center-wrapper {
            .panel-panel {
              clear: both;
              width: 100%;

              .inside {
                margin: 0;

                .pane-content {
                  .views-row {
                    border-bottom: 1px dotted $color-grey-light;
                    margin-bottom: 10px;
                    padding-bottom: 10px;

                    &.views-row-last {
                      border-bottom: 0;
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      aside {
        display: none;
      }
    }
  }

  #section-footer {
    padding: 10px 0;
  }

  .ajax-progress {
    @include opacity(0.9);

    background-color: $color-white;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    .throbber {
      background-image: url('../images/ajax-loader.gif');
      background-position: center;
      height: 100%;
      left: 50%;
      margin-left: -30px;
      margin-top: -3px;
      position: absolute;
      width: 54px;
    }
  }

  .ui-widget-overlay {
    @include opacity(0.8);

    background: none;
    background-color: #000;
  }
}

