/* This file will hold the main styles for your website. */

// Varaibles, mixins and other LESS files.
@import 'variables.less';
@import 'mixins.less';

//
body {
  #font > .sans-serif;

  background-color: @color-grey-dark;

  header {
    background-color: @color-white;

    #zone-branding {
      #region-branding {
        hgroup {
          width: 100%;

          .site-name {
            #font > .sans-serif(bold; @font-size-default);

            margin: 0;

            a {
              color: @color-grey-dark;
              font-size: 0.93em;
              text-transform: uppercase;
              white-space: pre;

              span {
                &.site_name-element-1 {
                  color: @color-orange;
                  margin-left: -0.35em;
                }
              }
            }
          }

          .site-slogan {
            #font > .sans-serif;

            color: @color-grey-light;
            float: right;
            text-transform: uppercase;
            white-space: pre;
          }
        }
      }

      #region-menu {
        #main-menu {
          li {
            display: block;
            float: left;
            margin: 0;
            margin-right: 3.125%;
            overflow: hidden;
            padding: 0;
            width: 31.25%;

            &.last {
              margin-right: 0;
            }

            a {
              #font > .shorthand(bold; @font-size-small; 16px);

              background-color: @color-grey-dark;
              color: @color-white;
              display: block;
              height: 25px;
              padding-left: 5px;
              text-transform: uppercase;
              text-decoration: none;
              width: 100%;

              &:hover {
                background-color: @color-grey-light;
              }
            }

            &.active {
              a {
                background-color: @color-orange;
              }
            }
          }
        }
      }
    }
  }

  section {
    background-color: @color-white;
    padding: 10px 0;

    #zone-content {
      p {
        text-align: justify;
      }

      .grid-8 {
        .view-mode-full {
          .field-name-title {
            h2 {
              #font > .sans-serif(bold; @font-size-large);

              color: @color-orange;
              text-transform: uppercase;
            }
          }
        }

        .panel-panel {
          clear: both;
          width: 100%;

          .inside {
            margin: 0;

            .pane-title {
              #font > .sans-serif(bold);

              background-color: @color-grey-light;
              display: block;
              height: 23px;
              padding: 2px 0 0 5px;
              text-transform: uppercase;
            }

            .pane-content {
              .views-row {
                border-bottom: 1px solid @color-grey-light;
                padding: 5px 0;

                &:hover {
                  background-color: @color-grey-light;
                }

                .group-left {
                  margin-right: -50px;
                  width: 50px;

                  .field-name-post-date {
                    color: @color-orange;
                    font-size: 8px;
                    font-style: italic;
                  }
                }

                .group-right {
                  #font > .shorthand(normal; 11px);

                  margin-left: 50px;
                  width: 100%;

                  .field-name-title {
                    float: left;

                    a {
                      color: @color-grey-dark;
                      margin-right: 0.35em;
                      text-decoration: none;
                    }
                  }

                  .field-name-field-formatter-field-types {
                    #font > .shorthand(normal; 9px);

                    clear: left;
                    margin-top: 3px;

                    a {
                      color: @color-orange;
                      text-decoration: none;

                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    aside {
      display: none;
    }
  }
}

