.node-blog {
  &.view-mode-cf_core_block {
    .field-name-title {
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .field-name-node-link {
      text-transform: uppercase;
      float: right;
    }
  }

  &.view-mode-teaser {
    margin-bottom: 20px;
    position: relative;

    .group-left {
      .field-name-post-date {
        @include apply-origin(0 0, false);
        @include font(null, bold);
        @include rotate(270deg);

        color: $color-grey-light;
        position: absolute;
        top: 70px;
        text-transform: uppercase;
      }
    }

    .group-right {
      @include font(null, normal, 11px);

      width: 100%;

      .field {
        margin-left: 20px;

        .field-label {
          font-weight: normal;
        }
      }

      .field-name-cf-byauthor {
        margin-top: 3px;
      }

      .field-name-field-formatter-field-types {
        @include font(null, normal, 9px);

        clear: left;
        margin-top: 3px;

        a {
          color: $color-orange;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .field-name-body {
        margin-top: 10px;
      }

      .field-name-node-link {
        clear: left;

        a {
          @include font(null, normal, $font-size-small);

          color: $color-orange;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
