.page-search {
  #section-content {
    #zone-content {
      #region-content {
        #search-form {
          #edit-basic {
            position: relative;

            label {
              display: none;
            }

            .form-submit {
              @include border-radius(0);
              @include font('sans-serif', normal, 9px);

              position: absolute;
              right: 0;
              top: 0;


              background: none;
              background-color: $color-grey-dark;
              border: 0;
              color: $color-white;
              height: 40px;
              text-transform: uppercase;
              text-shadow: none;
              margin: 0;
              padding: 0;
              width: 40px;
            }

            &:hover {
              .form-text {
                border-color: $color-grey-light;
              }

              .form-submit {
                background-color: $color-grey-light;
              }
            }
          }
        }
      }
    }
  }
}
