//

// Colors
$color-orange: #D95929;
$color-grey-light: #C4C7B6;
$color-grey-dark: #2F3837;
$color-white: #FFF;


// Typography
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Georgia", Times New Roman, Times, serif;
$font-family-monospace: "Monaco", Courier New, monospace;

$font-size-small: 10px;
$font-size-default: 12px;
$font-size-large: 24px;
